<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <property name="LOG_DIR" value="${LOG_DIR:-logs}"/>

    <!-- Root -->
    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="APP"/>
    </root>

    <!-- app.log (ghi chung) -->
    <appender name="APP" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/app.log</file>
        <append>false</append>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <!-- Auth -->
    <appender name="AUTH" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/auth.log</file>
        <append>false</append>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>
    <logger name="com.boilerplate.feature.auth" level="DEBUG" additivity="false">
        <appender-ref ref="AUTH"/>
    </logger>

    <!-- HTTP -->
    <appender name="HTTP" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/http.log</file>
        <append>false</append>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>
    <logger name="com.boilerplate.common.filter" level="DEBUG" additivity="false">
        <appender-ref ref="HTTP"/>
    </logger>
</configuration>
